@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


:root {

    --primary-color: #4267B2;
    --dark-gray: #4B5563;
    --off-white: #F3F4F6;
}



body {

    font-family: 'Work Sans',
        sans-serif;
        margin: 0px;
}

hr {

    margin: 2rem 0rem;
}

/* container */

.container {
    padding: 0rem 1 rem;

}

.container-center {

    max-width: 600px;
    margin: auto;

}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* look for BEM naming convention */


/* lists */

.list-non-bullet {

    list-style: none;
}

.list-item-inline {

    display: inline;
    margin: 0.5rem;

}

/* navigation */

.navigation {

    background-color: var(--primary-color);
    color: white padding: 1rem;
    border-bottom-left-radius: 1rem;
}


.navigation .nav-brand {

    font-weight: bold;
    color: #F3F4F6;

}

.navigation .nav-pills {

    text-align: right;
}

.navigation .link {

    color: white;

}

.navigation .link-active {

    font-weight: bold;
}

/* header */

.hero {
    
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {

    max-width: 450px;
    display: block;
    margin: auto;

}

.hero .hero-heading {

    text-align: center;
    padding-top: 1 rem;
    color: var(--dark-gray);
}

.hero .hero-heading .header-inverted {

    color: var(--primary-color);
}

/* section */

.section {
padding: 2rem;
}

.section h1 {

    text-align: center;
    
    }

    .ow {

        background-color:var(--off-white);
        padding-bottom: 2rem;
    }


    /* footer */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
color:white;
}

.footer .footer-header{

    font-weight: bold;
    font-size:large;
}

.footer ul{

    padding-inline-start: 0px;

}

    