@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body{

 font-family: 'Work Sans', 
 sans-serif;
}

/* container */

.container {
padding: 0rem 1 rem;

}

.container-centre {

max-width: 600px;
margin: auto;

}
/* links */

.link {
    text-decoration:none;
    padding: 0.5rem 1rem;
}

.primary-link{

    background-color: var
    (--primary-color);
    border-radius: 0.5rem;
    color: white
}





















