@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


:root{

    --primary-color:#4267B2;
}



body{

 font-family: 'Work Sans', 
 sans-serif;
}

hr{

    margin: 2rem 0rem;
}

/* container */

.container {
padding: 0rem 1 rem;

}

.container-centre {

max-width: 600px;
margin: auto;

}
/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {

    background-color: var
    (--primary-color);
    border-radius: 0.5rem;
    color: white
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var
    (--primary-color);
}

/* look for BEM naming convention */


/* lists */

.list-non-bullet{

    list-style:none;
}

.list-item-inline{

    display:inline;
    margin: 0.5rem;
    
}



















